$primary-color: #444;
$secondary-color: #91c142;
$background-opacity: 0.9;

$base: #91c142;
$text: #555;
$invalid: #e91e63;
$width: 400px;
$cubic: cubic-bezier(0.64, 0.09, 0.08, 1);

$text-color: #eee;
$menu-bg: #333;
$menu-hover: #444;
$menu-border: #555;
