@import "navigation";
@import "variables";
@import "mixins";

@mixin easeOut {
  transition: all 4s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: $primary-color;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin: 0;
}
section {
  padding: 80px 0;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
header {
  background-image: (linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))),
    url("bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin: 0;
  h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    word-spacing: 3px;
    text-transform: uppercase;
    span {
      color: $secondary-color;
    }
  }
  .hero-text-box {
    position: absolute;
    width: 1140px;
    //   height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .icons {
      margin-top: 1rem;
      a {
        color: white;
        padding: 0.4rem;
        text-decoration: none;
        :hover {
          color: $secondary-color;
          @include easeOut();
        }
      }
    }
  }
}

//about me section
#about-me {
  background-color: #fdfdfd;
  h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
  }
  h2:after {
    display: block;
    height: 2px;
    background-color: $secondary-color;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
  }
}
.about-me-box {
  display: flex;
  flex-basis: 30%;
  flex-direction: row;
  .box {
    padding: 1%;
  }
  h3 {
    font-size: 110%;
    margin-bottom: 15px;
  }
  p {
    font-size: 90%;
    line-height: 145%;
  }
  .icon-big {
    font-size: 350%;
    display: block;
    color: $secondary-color;
    margin-bottom: 10px;
  }
}
