@import "navigation";
@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: $primary-color;
  background: #f0f0f0;
  font-size: 17px;
  line-height: 1.4;
  font-family: "Jaldi", sans-serif;
  line-height: 1.5;
  margin: 0;
}
section {
  padding: 80px 0;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
header {
  background-image: (linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))),
    url("bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin: 0;
  .brand {
    margin-left: 15px;
  }
  h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    word-spacing: 3px;
    text-transform: uppercase;
    span {
      color: $secondary-color;
    }
  }
  .brand::after {
    content: "";
    display: block;
    height: 3px;
    background-color: $secondary-color;
  }
  .brand::before {
    content: "";
    display: block;
    height: 3px;
    background-color: $secondary-color;
  }
  .hero-text-box {
    position: absolute;
    width: 1140px;
    //   height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .icons {
      margin-top: 1rem;
      a {
        color: white;
        padding: 0.4rem;
        text-decoration: none;
        :hover {
          color: $secondary-color;
          @include easeOut();
        }
      }
    }
  }
}

.icon {
  display: none;
}

//about me section
#about-me {
  background-color: #fdfdfd;
  h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
  }
  h2:after {
    display: block;
    height: 2px;
    background-color: $secondary-color;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
  }
}
.about-me-box {
  display: flex;
  flex-basis: 30%;
  flex-direction: row;
  .box {
    padding: 1%;
  }
  h3 {
    font-size: 110%;
    margin-bottom: 15px;
  }
  p {
    font-size: 90%;
    line-height: 145%;
  }
  .icon-big {
    font-size: 350%;
    display: block;
    color: $secondary-color;
    margin-bottom: 10px;
  }
}

//my work cards

// body {
//   font-family: "Maven Pro", sans-serif;
// }

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin: 10px auto;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  border-radius: 2px;
  transition: 0.2s;
}

.card:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.card-slice {
  width: 300px;
  margin: 10px auto;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  position: relative;
  border-radius: 2px;
  transition: 0.2s;
}

.card-slice:hover {
  transition: 0.3s;
}

.card-image {
  background-size: cover;
  color: black;
  height: 175px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-position: center;
}

.card-image-slice {
  background-size: cover;
  height: 175px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-position: center;
}

.work-skills {
  color: lightgray;
  margin: 5px 0px;
  font-size: 14px;
}

.card-footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.work-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.work-description {
  margin-top: 5px;
  font-size: 14px;
  font-weight: lighter;
  color: grey;
}

.btn-learn-more {
  margin: 0px auto;
  margin-top: 35px;
  color: #42a5f5;
  border: 1px solid #42a5f5;
  padding: 10px 15px;
  width: 55%;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s;
  font-size: 18px;
  z-index: 4;
}

.btn-learn-more:hover {
  text-decoration: none;
  opacity: 1;
  transition: 0.2s;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.contact-container {
  width: 70%;
  margin: 40px auto;
  text-align: center;
}

.contact-container a {
  text-decoration: none;
  color: #42a5f5;
}
